.header {
    margin: 0;
    padding: 0;
}

.info {
    color: goldenrod;
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: #99f;
}
.link:hover,
.link:active {
    background-color: #fff;
    color: #000;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.editor {
    font-size: 0.9em;
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

@media (max-width: 700px) {
    .editor {
        width: 95%;
    }
}

.list-item {
    margin: 10px 5px 0 5px;
    padding: 5px;
    border: 1px solid goldenrod;
    border-radius: 20px;
}
